/* styles/About.css */

.about-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
  text-align: justify;
}

.about-container h1 {
  text-align: center;
  color: black;
}

.about-section {
  margin-bottom: 30px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
  color: black;
  margin-top: 0;
  text-align: center;
  font-size: 1.5em;
  /* border-bottom: 2px solid black; */
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.about-section p,
.about-section ul {
  line-height: 1.6;
  font-size: 1.1em;
  color: #555;
}

.about-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-section ul li {
  margin-bottom: 10px;
}

.contact {
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  color: #0073e6;
  margin-top: 0;
  font-size: 1.5em;
  border-bottom: 2px solid #0073e6;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.contact p {
  font-size: 1.1em;
  color: #555;
}

.social-links a {
  margin: 0 10px;
  color: #0073e6;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #005bb5;
}
h2{
  font-size: 3rem; /* Larger font size for emphasis */
  font-weight: 700; /* Bold text */
  color: #333; /* Dark text color for contrast */
  text-align: center; /* Center align the text */
  margin-bottom: 2rem; /* Space below the heading */
  margin-top: 3rem;
  position: relative; /* For the after pseudo-element */

  /* Animation */
  animation: fadeIn 2s ease-in-out;

  /* Styling the underline */
  &:after {
    content: '';
    display: block;
    width: 120px; /* Width of the underline */
    height: 4px; /* Height of the underline */
    background: #ff6347; /* Color of the underline */
    margin: 0.5rem auto 0; /* Centering the underline */
  }
}