.skills-container {
  padding: 2rem;
  background-color: #f9f9f9;
  /* text-align: center; */
}

.skills-container h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #333;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.skill-tile {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110px;
  animation: bounce 1s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(35px);
  }
  100% {
    transform: translateY(0);
  }
}

.skill-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
  object-fit: contain;
}

.skill-name {
  font-size: 1rem;
  color: #333;
  margin-top: 0.5rem;
}

.skills-container h1 {
  font-size: 3rem; /* Larger font size for emphasis */
  font-weight: 700; /* Bold text */
  color: #333; /* Dark text color for contrast */
  text-align: center; /* Center align the text */
  margin-bottom: 2rem; /* Space below the heading */
  margin-top: 3rem;
  position: relative; /* For the after pseudo-element */

  /* Animation */
  animation: fadeIn 2s ease-in-out;

  /* Styling the underline */
  &:after {
    content: '';
    display: block;
    width: 120px; /* Width of the underline */
    height: 4px; /* Height of the underline */
    background: #ff6347; /* Color of the underline */
    margin: 0.5rem auto 0; /* Centering the underline */
  }
}

.certificates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cert-img {
  max-width: 45%;
  margin: 10px;
}

@media (max-width: 768px) {
  .cert-img {
    max-width: 90%;
  }
}
